{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/css/editBook.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
{{/section}}
{{> navbar}}
<h1 class="header" id="one">Edit book</h1>
