{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
{{/section}}
{{> navbar}}
<h1 class="header" id="one">Home</h1>
