{{#section 'head'}}
<link rel="stylesheet" type="text/css" href="css/register.css" />
{{/section}}
<h1>Register</h1>
<form action='register' method='POST' class='basicForm'>
  <label for='email'>Email</label>
  <input type='text' name='email' id='email' />
  <label for='password'>Password</label>
  <input type='password' name='password' id='password' />
  <input type='submit' />
</form>
